.top{
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;                /*done this as i want to display other items horizontally as well in the topbar */
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    z-index: 999;    /*it will be above everything*/
}

.topLeft{
    flex: 3;    /* flex 3 means that out of the 12 proper length of the tab topLeft will have the 3 units towards the left */
    /* background-color: tomato; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.topRight{
    flex: 3;   /* flex 3 means that out of the 12 proper length of the tab topRight will have the 3 units towards the right */
    /* background-color: tomato; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.topCenter{
    flex: 6;  /* flex 6 means that out of the 12 proper length of the tab topCenter will have the 6 units towrds the center */
}
.topIcon{
    font-size: 30px;
    margin-right: 12px;
    color: #444;
    cursor: pointer;
    padding: 5px;
    /* margin-left: 5px; */
}
.topImg{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.topList{
    display: flex;
    justify-content: center;
    margin: 0;       /*Removing the by*/                     
    padding: 0;       /*default padding and margin*/
    list-style: none;  /* Removing the by default bullets of the listItems */
}
.TopListItem{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}
.fontbutton{
    /* font-family: 'Lora', serif; */
   
}
.topSearchIcon{
    font-size: 18px;
    color: #444;
    cursor: pointer;
    margin-left: 15px; /*To give space between the image and the icon*/
}